<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.seance.palette</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>seance.action.cheatsheet</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>seance.view.cheatsheet</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>seance.input.scriptfilter</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>seance.action.runscript</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>seance.trigger.cheatsheet</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>seance.action.cheatsheet</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nixor-praxian</string>
	<key>description</key>
	<string>Summon your Ghostty workspace</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>seance</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>s</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Summoning…</string>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
seance json query "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Summon your Ghostty workspace</string>
				<key>title</key>
				<string>seance</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>seance.input.scriptfilter</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
out=$(seance ${(z)1} 2&gt;&amp;1)
if [ $? -ne 0 ]; then
  osascript - "$out" &lt;&lt;'AS'
on run argv
  display notification (item 1 of argv) with title "seance"
end run
AS
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>seance.action.runscript</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>cheatsheet</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>seance.trigger.cheatsheet</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH="/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
seance cheatsheet</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>seance.action.cheatsheet</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>↩ Close</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string>Summoning…</string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>seance.view.cheatsheet</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type `s` followed by a query. Results come from `seance json query`; actioning a result runs `seance &lt;arg&gt;`.</string>
	<key>uidata</key>
	<dict>
		<key>seance.action.cheatsheet</key>
		<dict>
			<key>xpos</key>
			<real>580.0</real>
			<key>ypos</key>
			<real>60.0</real>
		</dict>
		<key>seance.action.runscript</key>
		<dict>
			<key>xpos</key>
			<real>380.0</real>
			<key>ypos</key>
			<real>240.0</real>
		</dict>
		<key>seance.input.scriptfilter</key>
		<dict>
			<key>xpos</key>
			<real>80.0</real>
			<key>ypos</key>
			<real>150.0</real>
		</dict>
		<key>seance.trigger.cheatsheet</key>
		<dict>
			<key>xpos</key>
			<real>80.0</real>
			<key>ypos</key>
			<real>60.0</real>
		</dict>
		<key>seance.view.cheatsheet</key>
		<dict>
			<key>xpos</key>
			<real>820.0</real>
			<key>ypos</key>
			<real>60.0</real>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
